<!DOCTYPE html>
<html>
<style>

.cen{
  position: fixed;
  top: 35%;
  left: 35%;
}
.box{
  float: right;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 30px;
  border: 10px black;
}
.button {
  background-color: #f8e59c;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1{padding:14px 55px;}
.button2{color: red;}
.front{
    font-size: 35px;
}
img {
  border: 20px white;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 body {
    background-color: #e6e5e5;
 }
 aside {
  float: left;
  border: 2px solid black;
  background-color: #e4b49a ;
  width:300px;
  height: 700px;
  margin-bottom: 100px;
  text-align: center;
 }
 section{
  float : right;
  padding: 0%;
 }

</style>
<body>
    <header>
         <h1><img src="https://cdn.discordapp.com/attachments/647841986686091264/775757345862844486/top-menu.jpg" style="width:1500px;height:180px;"></h1>
          
    </header>
    <div class ="cen">
      <div class="box">
       <p>Hello World</p>
      </div>
    </div>

    <aside>
      <form action="/menu">
        <button class="button button1">หน้าแรก</button>
      </form>
      <form action="/request">
        <button class="button">รายการคำร้อง</button>
      </form>
        <button class="button">สถานะคำร้อง</button>
      <form action="/">
        <button class="button button2">ออกจากระบบ</button>
      </form>
    </aside> 
    
</body>
</html>
