<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Kanit|Merriweather" rel="stylesheet">
<html>

<style>

img {
  border: 20px white;
  display: block;
  margin-left: 150px;
  margin-right: auto;
 }
 

body {
    background: url("https://cdn.discordapp.com/attachments/647841986686091264/775556002212478976/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

.login-box {
    font-family: 'Kanit', sans-serif;
  margin-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffcc00;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffcc00;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

</style>

<h1><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Emblem_of_Thammasat_University.svg/1024px-Emblem_of_Thammasat_University.svg.png" style="width:240px;height:240px;"></h1>



<div class="login-box">
  <h2>เข้าสู่ระบบ(นักศึกษา)</h2>

<form action="/api" method = "post" novalidate>
    <div class="user-box">
      <input type="text" name="user" id="user" required >
      <label for="user">รหัสนักศึกษา</label>
    </div>
    <div class="user-box">
      <input type="password" name="pwd" id="pwd" required="">
      <label for="pwd">รหัสผ่าน</label>

     </div>
        <input class = 'button' type="submit"  value="เข้าสู่ระบบ" >
     </a>
  </form>
    
</div>
<script>
  async function postData(url = "", data = {}) {
    const response = await fetch(url, {
      method: "POST", // *GET, POST, PUT, DELETE, etc.
      mode: "cors", // no-cors, *cors, same-origin
      cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
      credentials: "same-origin", // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: "follow", // manual, *follow, error
      referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: data, // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }
 
  const form = document.getElementById( "login-info" );
  form.addEventListener("submit", function(e){
    e.preventDefault();
    var formBody = [];
    var un = $('#user').val();
    var pw = $('#pwd').val();
    
    formBody.push(encodeURIComponent("user") + '=' + encodeURIComponent(un));
    formBody.push(encodeURIComponent("pwd") + '=' + encodeURIComponent(pw));
    formBody = formBody.join("&").replace( /%20/g, '+' );
    console.log(formBody);
    postData('http://localhost:5000/api', formBody)
    .then( data => {
      console.log(data);
      if (data.status) {
        window.location = '/menu/' + un;
        return true;
      } else {
        // var se = $('#showerror')
        document.getElementById("showerror").style.display = "block";
        return false;
      }
    })
    .catch((error) =>{
      console.log(error);
      return false;
    });

    return false;
  });
</script>
</html>
