<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Merriweather" rel="stylesheet">
 
    <head>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .container{
                width: 1200px;
                margin: 0 auto;
                background: white;
                overflow: hidden;
                position: relative;
            }
            header{
                text-align: left;
                background: white;
                margin: 0 auto;
                font-size: small;
            }
            section{
                background-image: url("https://cdn.discordapp.com/attachments/647841986686091264/779335534539046922/eiei.png");
                width: 1200px;
                background-repeat: no-repeatk;
                background-size: 100% 100%;
                width:  auto;
                height: 800px;
            }
            body{
                background-image: url(" https://moodle.tu.ac.th/pluginfile.php/1/theme_lambda/pagebackground/1594184250/bg2.png");
                background-attachment: fixed;
            }
            
.firstbtn{
  left: 0%;
  background-color: rgb(194, 189, 189);  
  min-width:240px;
  min-height:53px;
  position: absolute;

}

.secbtn{ 
  left: 20%;
  background-color: #bf1824;
  min-width:240px;
  min-height:53px;
  position: absolute;
  
}

.container .btn {
  top: 17.5%;
  float: left;
  font-family: 'Kanit', sans-serif;
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container .btn:hover {
  opacity: 0.8;
}
.textbox{
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 30%;
  left: 5%;
  padding: 15px;
  width: 250px;
  height: 60px;
  background: rgba(201, 201, 201, 0.5);
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.dropdown {
  top: 16.3%;
  left: 96.4%;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.font{
  font-family: 'Kanit', sans-serif;
}

.form-popup {
  top: 31%;
  display: none;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  left: 8%;
  bottom: 25%;  
 
}

/* Add styles to the form container */
.form-container {
  border-style: solid;
  max-width: 1000px;
  padding: 10px;
  background-color: white;
  height: 600px;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

input[type=button], input[type=submit], input[type=reset] {

  background-color: #e6e5e5;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:28px;
  position: absolute;
}

.open-button {  
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 28px;
  width: 180px;
  display: inline-block;
  background-color: #e6e5e5;
  color:#4CAF50;
  font-family: 'Kanit', sans-serif;
  position:absolute;
  font-size: 22px;
  font-weight: bold;
  border-radius:28px;
  left: 58%;
  top: 24%;
}
.text{
    font-size: 19px; 
}
.accept{
    color: #4CAF50;
    left: 35%;
    border: solid #000;
    border-width: 5 5px;
}
.unaccept{
    color: red;
    left: 55%;
    border: solid #000;
    border-width: 5 5px;
}

.open-button2 {  
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 28px;
  width: 400px;
  display: inline-block;
  background-color: #e6e5e5;
  color:#4CAF50;
  font-family: 'Kanit', sans-serif;
  font-size: 22px;
  font-weight: bold;
  left: 16%;
  top: 40%;
}

.form-container2 {
  border-style: solid;
  max-width: 1000px;
  padding: 10px;
  background-color: white;
  height: 600px;
}

.form-container2 .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .cancel {
  background-color: red;
}

.container2{
    width: 400px;
    height: 60px;
    padding-left: 10px;
    top: 70px;
    left: 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: rgba(250, 247, 95, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-transform: lowercase;
    background-color:rgb(248, 229, 156);
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

.form-group{
  margin-bottom:0.5rem;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

a:link, a:visited {
  background-color: whitesmoke;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid #000;
  border-width: 5 5px;
}

a:hover, a:active {
  background-color: whitesmoke;
  border: solid #000;
  border-width: 5 5px;
}

.modal3 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content3 {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
  border: solid #000;
  border-width: 5 5px;
}

.modal2 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content2 {
  background-color: rgb(252, 252, 106);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border: solid #000;
  border-width: 5 5px;
}

.modal1 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content1 {
  background-color: rgb(252, 252, 106);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border: solid #000;
  border-width: 5 5px;
}

.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover, .close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover, .close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover, .close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.listProcss{
  position:absolute;
  margin-top: 31px;
  left: 13%;
  width: 320px;
  height: 60px;
  background-color:rgb(252, 252, 106);
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

.listDone{
  position:absolute;
  margin-top: 360px;
  left: 13%;
  width: 320px;
  height: 60px;
  background-color:rgb(252, 252, 106);
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

.displayname{
  position: absolute;
  right: 12%;
  top: 7.9%;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: #bf1824;
  text-align-last: right;
  
}

</style>
    </head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
        <div class="container">
                <header>
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/779335155437142026/New_Project_1_4.png" style="width: 100%;">
                    <div>
                    <form method="get" action="/menu2">
                        <button class="btn firstbtn"><strong>หน้าแรก</strong></button> 
                     </form>
                     <form method="get" action="/request2">
                        <button class="btn secbtn"><strong>รายการคำร้อง</strong></button> 
                     </form>
                     </div>
                     <div class="displayname"><p><%=name_en%></p></div>
                     <div class="dropdown">
                        <img src="https://cdn.discordapp.com/attachments/647841986686091264/779316689397481472/arrow.png"  width="22" height="22 ">
                    <div class="dropdown-content w3-dropdown-content w3-bar-block w3-border font" style="right:0">
                      <form action="/information2">
                        <button class="w3-bar-item w3-button">ข้อมูลส่วนตัว</button>
                    </form>
                    <form action="/main">
                        <button class="w3-bar-item w3-button">ออกจากระบบ</button>
                    </form>
                    </div>
                </header>
                <section>
               
                <!-- Trigger/Open The Modal -->
                <button id="myBtn2" class="listProcss"><strong>รายการคำร้องที่อยู่ขั้นตอนการดำเนินการ</strong></button>
                <!-- The Modal -->
                <div id="myModal2" class="modal2">

                  <!-- Modal content -->
                  <div class="modal-content2">
                    <span class="close2">&times;</span>
                    <!-- <div class="form-group">
                      <a href="default.asp" id="subjectProcess">
                        <p id="requi"></p>
                      </a>
                    </div> -->
                    <div class="form-group">
                        <a href="/check"><p>CS264วิศวกรรมซอฟต์แวร์เบื้องต้น</p>
                        <p>section 650001 ผศ.ดร.ทรงศักดิ์ รองวิริยะพาณิชย์</p></a>
                      </div>
                  </div>

                </div>

                <script>
                  let print = document.getElementById('requi');
                  let n = count;
                  // for(let i = 0; i < n ; i++){
                  //   document.getElementById('requi').innerHTML = Data.
                  // }

                  let Data;
                  data();
                  async function data() {
                    const response = await fetch('/info');
                    const data = await response.json();
                    Data = data;
                  }
                </script>

                <script>
                  // Get the modal
                  var modal2 = document.getElementById("myModal2");
                  
                  // Get the button that opens the modal
                  var btn2 = document.getElementById("myBtn2");
                  
                  // Get the <span> element that closes the modal
                  var span2 = document.getElementsByClassName("close2")[0];
                  
                  // When the user clicks the button, open the modal 
                  btn2.onclick = function() {
                    modal2.style.display = "block";
                  }
                  
                  // When the user clicks on <span> (x), close the modal
                  span2.onclick = function() {
                    modal2.style.display = "none";
                  }

                  </script> 

                <button id="myBtn1" class="listDone"><strong>รายการคำร้องที่เสร็จสิ้นแล้ว</strong></button>
                <div id="myModal1" class="modal1">

                  <!-- Modal content -->
                  <div class="modal-content1">
                    <span class="close1">&times;</span>

                    <div class="form-group">
                      <a href="default.asp" target="_blank">
                        <p>CS233สถาปัตยกรรมคอมพิวเตอร์และระบบปฏิบัติการ</p>
                      <p>section 650001 ผศ.ดร.เด่นดวง ประดับสุวรรณ</p></a>
                    </div>
                  </div>

                </div>

                
                <script>
                  // Get the modal
                  var modal1 = document.getElementById("myModal1");
                  
                  // Get the button that opens the modal
                  var btn1 = document.getElementById("myBtn1");
                  
                  // Get the <span> element that closes the modal
                  var span1 = document.getElementsByClassName("close1")[0];
                  
                  // When the user clicks the button, open the modal 
                  btn1.onclick = function() {
                    modal1.style.display = "block";
                  }
                  
                  // When the user clicks on <span> (x), close the modal
                  span1.onclick = function() {
                    modal1.style.display = "none";
                  }
                  
                  </script> 
                  

                </section> 

        </div>
    </body>
</html>