<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Merriweather" rel="stylesheet">
 
    <head>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .container{
                width: 1200px;
                margin: 0 auto;
                background: white;
                overflow: hidden;
                position: relative;
            }
            header{
                text-align: left;
                background: white;
                margin: 0 auto;
                font-size: small;
            }
            section{
                background-image: url("https://cdn.discordapp.com/attachments/647841986686091264/779335534539046922/eiei.png");
                width: 1200px;
                background-repeat: no-repeatk;
                background-size: 100% 100%;
                width:  auto;
                height: 800px;
            }
            body{
                background-image: url(" https://moodle.tu.ac.th/pluginfile.php/1/theme_lambda/pagebackground/1594184250/bg2.png");
                background-attachment: fixed;
            }
            
.firstbtn{
  left: 0%;
  background-color: rgb(194, 189, 189);  
  min-width:240px;
  min-height:53px;
  position: absolute;

}

.secbtn{ 
  left: 20%;
  background-color: #bf1824;
  min-width:240px;
  min-height:53px;
  position: absolute;
}

.container .btn {
  top: 17.5%;
  float: left;
  font-family: 'Kanit', sans-serif;
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container .btn:hover {
  opacity: 0.8;
}
.textbox{
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 30%;
  left: 5%;
  padding: 15px;
  width: 250px;
  height: 60px;
  background: rgba(201, 201, 201, 0.5);
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.dropdown {
  top: 16.3%;
  left: 96.4%;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.font{
  font-family: 'Kanit', sans-serif;
}

.displayname{
  position: absolute;
  right: 11%;
  top: 7.9%;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: #bf1824;
  text-align-last: right;
}
.container2{
    width: 1100px;
    height: 720px;
    padding: 35px;
    padding-left: 100px;
    top: 40px;
    
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: rgba(228, 221, 221, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-transform: lowercase;
}
.icon{
    margin-top: 20px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: solid black;
    display:inline-block;
    z-index: 1;
    position: relative;
    
}
#accepted{
    background-color: #137157;
}
#denied{
    background-color: #bf1925;
}
#pending{
    background-color: #c4c4c4;
}
#respones{
    background-color: #ffd040;
}
.line{
   width: 780px;
   height: 5px;
   background-color: black;
   position: absolute;
   top:11.5%;
   z-index: 0;

}.detail{
    margin-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    display:inline-block;

}

</style>
   </head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
        <div class="container">
                <header>
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/779335155437142026/New_Project_1_4.png" style="width: 100%;">
                    <div>
                    <form method="get" action="/menu">
                        <button class="btn firstbtn"><strong>หน้าแรก</strong></button> 
                     </form>
                     <form method="get" action="/request">
                        <button class="btn secbtn"><strong>รายการคำร้อง</strong></button> 
                     </form>
                     </div>
                     <div class="displayname"><p><%=name_en%></p></div>
                     <div class="dropdown">
                        <img src="https://cdn.discordapp.com/attachments/647841986686091264/779316689397481472/arrow.png"  width="22" height="22 ">
                        
                    <div class="dropdown-content w3-dropdown-content w3-bar-block w3-border font" style="right:0">
                      <form action="/information">
                        <button class="w3-bar-item w3-button">ข้อมูลส่วนตัว</button>
                    </form>
                    <form action="/main">
                        <button class="w3-bar-item w3-button">ออกจากระบบ</button>
                    </form>
                    </div>
                     </div>
                </header>
                
                <section>
                    
             <div class="container2"> 
                <h1 class="line"></h1>
                <div style="z-index: 1;">  
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/780442864500736020/sa.png" class = "icon" id= "accepted">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/780455740988588102/pngegg.png" class = "icon" id="respones">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/780455528765194240/teacher.png" class = "icon" id= "denied">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/780456540883779614/teleworking.png" class = "icon" id = "pending">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="https://cdn.discordapp.com/attachments/647841986686091264/780440461436387348/Layer_2_2.png" class = "icon" id = "pending">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="payment1"><img src="https://cdn.discordapp.com/attachments/647841986686091264/780440862014177290/Layer_1.png" class = "icon" id = "accepted"></a>
                </div>
                <div class="detail" >
                    <p>&nbsp;ยื่นคำร้อง &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; อาจารย์ที่ปรึกษา &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  อาจารย์ที่ผู้สอน  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; เจ้าหน้าที่  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; คณบดี  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; สำเร็จ</p>    
                </div>
            </div>
             </section>
        </div>
    </body>
</html>
